@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body{font-family: 'Comfortaa', cursive;}

.container{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hex-colors{
  width: 100%;
  text-align: center;
}

#hex-colors h1, h2{
  font-size: 2rem;
  text-transform: uppercase;
  -ms-animation: colorchange 5s infinite alternate;
  -moz-animation: colorchange 5s infinite alternate;
  -o-animation: colorchange 5s infinite alternate; 
  animation: colorchange 5s infinite alternate; 
}

#hex-colors h2{
  margin-top: 15%;
  text-transform: lowercase;
}

.submit-box {
  position: absolute;
  top: 80%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.submit-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.submit-box .user-box {
  position: relative;
}

.submit-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.submit-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.submit-box .user-box input:focus~label,
.submit-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.submit-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.submit-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
      0 0 25px #03e9f4,
      0 0 50px #03e9f4,
      0 0 100px #03e9f4;
}

.submit-box a span {
  position: absolute;
  display: block;
}

.submit-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
      left: -100%;
  }

  50%,
  100% {
      left: 100%;
  }
}

.submit-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
      top: -100%;
  }

  50%,
  100% {
      top: 100%;
  }
}

.submit-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
      right: -100%;
  }

  50%,
  100% {
      right: 100%;
  }
}

.submit-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
      bottom: -100%;
  }

  50%,
  100% {
      bottom: 100%;
  }
}
/* ///// */
@-ms-keyframes colorchange{
  0% {
        color: #ffffff;
      }
      
      20% {
        color: #cccccc;
      }
      
      40% {
        color: #999999;
      }
      
      60% {
        color: #666666;
      }
      
      80% {
        color: #333333;
      }
      
      100% {
        color: #000000;
      } 
}

@-moz-keyframes colorchange{
    0% {
        color: #ffffff;
      }
      
      20% {
        color: #cccccc;
      }
      
      40% {
        color: #999999;
      }
      
      60% {
        color: #666666;
      }
      
      80% {
        color: #333333;
      }
      
      100% {
        color: #000000;
      } 
}

@-o-keyframes colorchange{
    0% {
        color: #ffffff;
      }
      
      20% {
        color: #cccccc;
      }
      
      40% {
        color: #999999;
      }
      
      60% {
        color: #666666;
      }
      
      80% {
        color: #333333;
      }
      
      100% {
        color: #000000;
      }  
}

@keyframes colorchange {
    0% {
        color: #ffffff;
      }
      
      20% {
        color: #cccccc;
      }
      
      40% {
        color: #999999;
      }
      
      60% {
        color: #666666;
      }
      
      80% {
        color: #333333;
      }
      
      100% {
        color: #ffffff;
      }  
}

@media(max-width:480px){
  #hex-colors h1{font-size: 1.5rem;}
  
  #hex-colors h2{font-size: 1.5rem;}
}
